{% extends "layout.html" %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container">

            <h3>Consulta Guia</h3>

                <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
                    <h3 class="uk-card-title">Número de guia: {{ results['trackingNumber'] }}</h3>
                    <p>Origen: {{ results['shipFrom'] }}</p>
                    <p>Destino: {{ results['shipTo'] }}</p>
                </div>
                {% for item in results['statusList'] %}
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1">

                    <ul class="uk-list-circle">
                        <li class="uk-margin-auto-left" style="font-weight: bold;">{{ item['statusName'] }}</li>
                        <li class="uk-margin-auto-left">{{ item['statusDate'] }}</li>
                        {% if item['statusInfo'] is not none %}
                        <li class="uk-margin-auto-left">{{ item['statusInfo'] }}</li>
                        {% endif %}
                    </ul>
                </div>
                {% endfor %}
                {% if results['imageURL'] is not none%}
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
                    <p class="uk-position-center">URL: <a href="{{ results['imageURL'] }}">Imagen de la guía</a></p>
                </div>
                {% endif %}
        </div>
    </div>
    <footer class="uk-section-xsmall uk-position-bottom">
        <div class="uk-container uk-position-center">
            <p>Made by <a class="uk-link-text" href="#" target="_blank">&#129514; CadenaLabs </a>&#8226; 2020</p>
        </div>
    </footer>
{% endblock content %}