<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />

    <!-- UIkit JS -->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>

    <title>Nuaio Tracking Lite</title>

    <link rel="icon" href="https://nuaiolens.cadena.com.co/assets/img/favicon-4e9b3eb65f.ico">
</head>
<body>

    <div class="uk-background-cover uk-background-norepeat uk-height-viewport uk-flex uk-flex-center" style="background-image: url(https://nuaiolens.cadena.com.co/assets/img/fondo-tablet-vertical-a43e45e0ec.png)">
        <div class="uk-section">
            <div class="uk-container">
                <a href="{{ url_for('main.index') }}">
                    <img src="https://nuaiolens.cadena.com.co/assets/img/logo-nuaio-tracking-5036f304a7.png">
                </a>
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>