{% extends "layout.html" %}
{% block content %}

    <h3 class="uk-card-title">Guia no encontrada</h3>
    <form class="uk-form-horizontal uk-margin" method="POST" action="{{ url_for('main.consulta') }}">
        <div class="uk-margin uk-flex uk-flex-center">
            <input class="uk-input uk-width-5-6" type="text" name="numero_guia" placeholder="Número de guia">
            <button class="uk-button uk-button-primary" style="border-radius:20px" type="submit">Consulta</button>
        </div>
    </form>
    <footer class="uk-section-xsmall uk-position-bottom uk-position-absolute">
        <div class="uk-container uk-position-center">
            <p>Made by <a class="uk-link-text" href="#" target="_blank">&#129514; CadenaLabs </a>&#8226; 2020</p>
        </div>
    </footer>
{% endblock content %}
