{% extends "layout.html" %}
{% block content %}

    <h3 class="uk-card-title uk-text-center">Cargar Orden</h3>
    <form class="uk-form-horizontal uk-margin" method="POST" action="{{ url_for('main.order_ingest_dir') }}">
    <button class="uk-button uk-button-primary uk-align-center" style="border-radius:20px" type="submit">Descarga Dirección</button>
    </form>

    <form class="uk-form-horizontal uk-margin" method="POST" action="{{ url_for('main.order_ingest_ord') }}">
    <button class="uk-button uk-button-primary uk-align-center" style="border-radius:20px" type="submit">Descarga Pedidos</button>
    </form>

    <form class="uk-form-horizontal uk-margin" method="POST" action="{{ url_for('main.order_ingest_ceco') }}">
    <button class="uk-button uk-button-primary uk-align-center" style="border-radius:20px" type="submit">Descarga CeCo</button>
    </form>


    <footer class="uk-section-xsmall uk-position-bottom uk-position-absolute">
        <div class="uk-container uk-position-center">
            <p>Made by <a class="uk-link-text" href="#" target="_blank">&#129514; CadenaLabs </a>&#8226; 2020</p>
        </div>
    </footer>


{% endblock content %}
