{% extends "layout.html" %}
{% block content %}

    <h3 class="uk-card-title uk-text-center">Cargar Orden</h3>
    <form class="uk-form-horizontal uk-margin" method="POST" action="{{ url_for('main.order_ingest') }}" enctype="multipart/form-data">
        <div class="js-upload uk-placeholder uk-text-center">
            <span uk-icon="icon: cloud-upload"></span>
            <span class="uk-text-middle">Carga el archivo de órdenes arrastrándolo aquí o</span>
            <div uk-form-custom>
                <input type="file", name="input_file">
                <span class="uk-link">selecciónalo</span>
            </div>
        </div>
    <button class="uk-button uk-button-primary uk-align-center" style="border-radius:20px" type="submit">Cargar</button>
    </form>
    <!--
    <script>
    var bar = document.getElementById('js-progressbar');

    UIkit.upload('.js-upload', {

        url: '',
        multiple: true,
        allow: '*.xlsx',

        beforeSend: function (environment) {
            console.log('beforeSend', arguments);

            // The environment object can still be modified here.
            // var {data, method, headers, xhr, responseType} = environment;

        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },

        loadStart: function (e) {
            console.log('loadStart', arguments);

            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },

        progress: function (e) {
            console.log('progress', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        loadEnd: function (e) {
            console.log('loadEnd', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        completeAll: function () {
            console.log('completeAll', arguments);

            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);

            alert('Upload Completed');
        }

    });

    </script>
    -->

    <footer class="uk-section-xsmall uk-position-bottom uk-position-absolute">
        <div class="uk-container uk-position-center">
            <p>Made by <a class="uk-link-text" href="#" target="_blank">&#129514; CadenaLabs </a>&#8226; 2020</p>
        </div>
    </footer>



{% endblock content %}
